:root {
    --background-color: #444456;
    --second-background-color: #bd9853;
    --main-color: #d8b131;

    --first-text-color: #fff;
    --second-text-color: #000;

    --links-hover-color: #000;
    --second-links-hover-color: #fff;

    --button-color: #444456;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: var(--background-color);
}

/* Navbar Css */

.navbar__container {
    background: var(--main-color);
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar__content {
    height: 100%;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 1;
}

.navbar__logo {
    color: var(--first-text-color);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 100%;
}

.navbar__links {
    height: 100%;
    color: var(--first-text-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.navbar__links:hover {
    color: var(--links-hover-color);
}

/* Icon Css */

.fa-solid {
    margin-right: 0.5rem;
}

/* Top Css */

.top {
    display: flex;
    justify-content: center;
}

.top__container {
    height: 600px;
    width: 1300px;
    display: flex;
    font-size: 1.2rem;
    background: red;
}

.top__content {
    display: flex;
    height: 100%;
    width: 100%;
}

.top__category {
    background: var(--second-background-color);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.top__title {
    color: var(--second-text-color);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.top__category {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top__category hr {
    height: 1px;
    width: 80%;
    background: var(--second-text-color);
    border: 0px;
    margin: 0 auto;
}

.top__category--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.top__category--item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;
}

.top__category--item:first-child {
    margin-top: 10px;
}

.top__category--item a{
    color: var(--first-text-color);
    text-decoration: none;
}

.top__category--item a:hover {
    color: var(--links-hover-color);
}

.top__product {
    height: 100%;
    width: 70%;
    background: var(--second-background-color);
}

.top__product hr {
    height: 1px;
    width: 100%;
    background: var(--second-text-color);
    border: 0px;
    margin: 0 auto;
}

.top__product--container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__navbar--container {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.top__navbar--content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top__navbar--item {
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.top__navbar--item {
    color: var(--second-text-color);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.top__navbar--item a {
    color: var(--second-text-color);
    text-decoration: none;
}

.top__navbar--item a:hover {
    color: var(--second-links-hover-color);
}

.top__random--container {
    height: 100%;
    width: 100%;
}

.top__random--content {
    height: 100%;
    width: 100%;
}

.top__random--content .title {
    color: var(--second-text-color);
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.top__random--content .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    padding: 30px;
}

.top__random--content .image img {
    max-width: 100%;
    max-height: 100%;
}

.top__random--content .info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 80px;
}

.top__random--content .info--item {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.top__random--content .price {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: var(--second-text-color);
}

.top__random--content .check {
    background: var(--button-color);
    border-radius: 10px;
}

.top__random--content .button{
    padding: 20px;
}

.top__random--content a {
    text-decoration: none;
    color: var(--first-text-color);
    font-weight: 700;
    letter-spacing: 0.1rem;
}

/* Main Css */
.main {
    display: flex;
    justify-content: center;
}

.main__title {
    color: var(--first-text-color);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main__container {
    height: 600px;
    width: 1300px;
}

.main__content hr {
    height: 1px;
    width: 100%;
    background: var(--second-text-color);
    border: 0px;
    margin: 0 auto;
}